
<div class="modal-header">
    <modal-header-close-button close-modal-function="cancel"></modal-header-close-button>
    <strong>Word Mappings</strong>
</div>

<div class="modal-body">
    
    <table
        datatable="ng"
        class="table table-striped table-bordered table-hover"
        dt-options="optionsTableWordMappings"
    >
        
        <thead>
            <tr>
                <th>Unconverted Word</th>
                <th>Converted Word</th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="idx in wordMappings">
                <td>{{idx.unconvertedWord}}</td>
                <td>{{idx.convertedWord}}</td>
            </tr>
        </tbody>
        
        <tfoot>
            <tr>
                <th>Unconverted Word</th>
                <th>Converted Word</th>
            </tr>
        </tfoot>
        
    </table>
    
</div>

<div class="modal-footer">
    <modal-footer-close-button close-modal-function="cancel"></modal-footer-close-button>
</div>
