<div class="side-options">
    <div class="side-options-wrapper" ng-class="{'show' : flagVisibleSideOptions}">
        <div class="icon-options" ng-click="flagVisibleSideOptions = !flagVisibleSideOptions">
            <i class="fa fa-cog"></i>
        </div>
        
        <div class="options-content">
            
            <div class="title">OPTIONS</div>
            
            <div class="options-item">
                <span uib-tooltip='Any word more than 3 characters and starting with an "o" will have "br" added before it' tooltip-placement="left" tooltip-append-to-body="true">
                    Bro Mode
                </span>
                
                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" id="idCheckboxBroMode" ng-model="options.broMode" ng-click="convertText()">
                        <label class="onoffswitch-label" for="idCheckboxBroMode">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            
            <div class="options-item">
                <span uib-tooltip='This will add "in my diapers" to the end of sentences' tooltip-placement="left" tooltip-append-to-body="true">
                    In My Diapers
                </span>
                
                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" id="idCheckboxSentenceEnding" ng-model="options.sentenceEnding" ng-click="convertText()">
                        <label class="onoffswitch-label" for="idCheckboxSentenceEnding">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>
